@model MyLogin.Usuarios

@{
    ViewBag.Title = "Details";
}
<style>
    h2 {
        color: green;
    }

    h4 {
        color: orange;
    }
</style>
<body background="https://static.vecteezy.com/system/resources/previews/002/731/792/large_2x/light-gray-template-with-lines-colorful-gradient-illustration-with-abstract-flat-lines-pattern-for-websites-landing-pages-vector.jpg">

    <h2>Detalles</h2>

    <div>
        <h4>Usuarios</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NombreCompleto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NombreUsuario)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Regresar a la lista", "Index")
    </p>
</body>